<h1><%= @book.title %></h1>
<h4><%= @book.author %></h4>
<h6><%= @book.isbn %></h6>
<h6><%= @book.genre %></h6>

<h1> Reviews </h1>
<%= link_to "Write Review", new_book_review_path(@book) %>

<div class="review">
<% @reviews.each do |review| %>
<p>  Rating: <%= review.rating %> </p>
  <p> <%= review.body %><p>
<% end %>
